<div class="row">

    <div>
        <div class="col-xs-12">
            <h1>{{ TEXT.TRANSPORT }}</h1>
            <hr>
        </div>
    </div>

    <div>
        <div class="col-xs-9">
            <button class="btn btn-primary" ng-click="add()">{{ TEXT.ADD }}</button>
        </div>

        <div class="col-xs-3">
            <form class="form-group" data-uk-search>
                <input class="form-control" ng-model="search" type="search" placeholder="{{ TEXT.SEARCH }}">
            </form>
        </div>
    </div>

    <div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{TEXT.TID}}</th>
                        <th>{{TEXT.DID}}</th>
                        <th>{{TEXT.DRIVER}}</th>
                        <th>{{TEXT.LOCATIONS}}</th>
                        <th>{{TEXT.DISTANCE}}</th>
                        <th>{{TEXT.DATE}}</th>
                        <th style="width: 160px">Actions</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr ng-repeat="transport in data | filter:search">
                        <td>{{transport.id}}</td>
                        <td>{{transport.driver.id}}</td>
                        <td>{{transport.driver.name}}</td>
                        <td>{{transport.locations.length}}</td>
                        <td>{{transport.distance}} km</td>
                        <td>{{transport.date}}</td>
                        <td>
                            <button class="btn btn-default" ng-click="report(transport)">{{ TEXT.REPORT }}</button>
                            <button class="btn btn-danger" ng-click="delete(transport)">{{ TEXT.DELETE }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
