<div class="row">

    <div>
        <div class="col-xs-12">
            <h1>{{ TEXT.LOCATION }}</h1>
            <hr>
        </div>
    </div>

    <div>
        <div class="col-xs-9">
            <button class="btn btn-primary" ng-click="add()">{{ TEXT.ADD }}</button>

        </div>

        <div class="col-xs-3">
            <form class="form-group">
                <input class="form-control" ng-model="search" type="search" placeholder="{{ TEXT.SEARCH }}">
            </form>
        </div>

    </div>

    <div>
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{TEXT.LID}}</th>
                    <th>{{TEXT.NAME}}</th>
                    <th>{{TEXT.DELIVERY_POINT}}</th>
                    <th>{{TEXT.GPS}}</th>
                    <th style="width: 160px;">{{ TEXT.ACTIONS }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="location in state.data">
                    <td>{{location.id}}</td>
                    <td>{{location.name}}</td>
                    <td>{{location.deliveryPoint}}</td>
                    <td>{{location.gps}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="edit(location)">{{ TEXT.EDIT }}</button>
                        <button class="btn btn-danger" ng-click="delete(location)">{{ TEXT.DELETE }}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="col-xs-12">
            <nav aria-label="Page navigation">
                <ul class="pagination" ng-repeat="page in pagesList">
                    <li ng-class="page.class" ng-click="changePage(page.index)"><a href="">{{page.index}}</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
