<div ng-controller="DriverModalController">
    <div class="uk-modal-header">
        <div>
            <div ng-show="properties.type === CONSTANT.ADD">Create Driver</div>
            <div ng-show="properties.type === CONSTANT.EDIT">Edit Driver</div>
        </div>
        <hr>
    </div>

    <form class="uk-form uk-margin-bottom">
        <div class="uk-grid uk-grid-collapse">
            <div ng-show="properties.type === 'EDIT'"
                 class="uk-width-1-1 uk-grid uk-margin-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-width-1-1 uk-vertical-align-middle"
                           for="id"><strong>Id: </strong></label>
                </div>
                <div class="uk-width-7-10">
                    <input id="id" class="uk-width-1-1" ng-model="properties.data.id" type="text" ng-disabled="true">
                </div>
            </div>

            <div class="uk-width-1-1 uk-grid uk-margin-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle" for="name"><strong>Name: </strong></label>
                </div>
                <div class="uk-width-7-10">
                    <input id="name" class="uk-width-1-1" ng-model="properties.data.name" type="text"
                           placeholder="ex: FirstName LastName">
                </div>
            </div>

            <div class="uk-width-1-1 uk-grid uk-margin-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle" for="car"><strong>Car: </strong></label>
                </div>
                <div class="uk-width-7-10">
                    <input id="car" class="uk-width-1-1" ng-model="properties.data.car" type="text"
                           placeholder="ex: A-001-AAA">
                </div>
            </div>

            <div class="uk-width-1-1 uk-grid uk-margin-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle"
                           for="company"><strong>Company: </strong></label>
                </div>
                <div class="uk-width-7-10">
                    <input id="company" class="uk-width-1-1" ng-model="properties.data.company" type="text"
                           placeholder="ex: Route .inc">
                </div>
            </div>
        </div>
    </form>

    <div class="uk-modal-footer">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-right">
                <button ng-show="properties.type === CONSTANT.ADD" ng-click="save()"
                        class="uk-button uk-button-primary">Save
                </button>
                <button ng-show="properties.type === CONSTANT.EDIT" ng-click="update()"
                        class="uk-button uk-button-primary">Update
                </button>
                <button ng-click="close()" class="uk-button">Close</button>
            </div>
        </div>
    </div>
</div>
