<div ng-controller="DriverModalController">
    <div class="uk-modal-header">
        <div class="uk-text-large">
            {{ properties.title }}
        </div>
    </div>

    <div>
        <hr>
    </div>

    <form class="uk-form uk-form-horizontal">
        <div ng-show="properties.type === 'EDIT'" class="uk-form-row">
            <label class="uk-form-label uk-text-right" for="id">Id: </label>
            <div class="uk-form-controls">
                <input id="id" ng-model="properties.data.id" type="text" ng-disabled="true">
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label uk-text-right" for="name">Name: </label>
            <div class="uk-form-controls">
                <input id="name" ng-model="properties.data.name" type="text" placeholder="ex: FirstName LastName">
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label uk-text-right" for="car">Car: </label>
            <div class="uk-form-controls">
                <input id="car" ng-model="properties.data.car" type="text" placeholder="ex: A-001-AAA">
            </div>
        </div>
    </form>

    <div>
        <br>
        <hr>
    </div>

    <div class="uk-modal-footer">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-right">
                <button ng-show="properties.type === 'ADD'" ng-click="save()" class="uk-button uk-button-primary">Save</button>
                <button ng-show="properties.type === 'EDIT'" ng-click="update()" class="uk-button uk-button-primary">Update</button>
                <button ng-click="close()" class="uk-button">Close</button>
            </div>
        </div>
    </div>
</div>
