<div ng-controller="TransportModalController">
    <form>
        <div class="uk-modal-header">
            <div>
                <div ng-show="state.type === CONSTANT.ADD"><h1 class="uk-margin-bottom-remove">{{CONSTANT.CREATE | capitalize}} {{CONSTANT.TRANSPORT | capitalize}}</h1></div>
                <div ng-show="state.type === CONSTANT.EDIT"><h1 class="uk-margin-bottom-remove">{{CONSTANT.EDIT | capitalize}} {{CONSTANT.TRANSPORT | capitalize}}</h1></div>
            </div>
        </div>

        <div class="uk-grid uk-form">
            <!--<div ng-show="state.type === CONSTANT.EDIT" class="uk-width-1-1 uk-grid uk-margin-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-width-1-1 uk-vertical-align-middle" for="id"><strong>Id: </strong></label>
                </div>
                <div class="uk-width-7-10">
                    <input id="id" class="uk-width-1-1" ng-model="state.data.id" type="text" ng-disabled="true">
                </div>
            </div>-->

            <!--Driver-->
            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom">
                <div class="uk-width-3-10 uk-text-right uk-text-middle uk-vertical-align">
                    <label class="uk-form-label uk-text-bold uk-vertical-align-middle" for="transport-driver-name">{{CONSTANT.DRIVER | capitalize}}: </label>
                </div>
                <div class="uk-width-7-10" data-uk-dropdown="{justify:'#transport-driver'}">
                    <div id="transport-driver" class="uk-autocomplete uk-width-1-1" data-uk-autocomplet>
                        <input id="transport-driver-name"
                               class="uk-width-1-1"
                               ng-model="transport.driver.id"
                               type="text"
                               placeholder="Search for driver by name, car or company."
                               autocomplete="off">

                            <script type="text/autocomplete">
                                <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                    {{~items}}
                                    <li data-value="{{ $item.id }}" >
                                         <a>
                                            {{ $item.name }}
                                            <div>Idi: {{ $item.id }}, Car: {{ $item.car }}, Company: {{ $item.company }}</div>
                                        </a>
                                    </li>
                                    {{/items}}
                                </ul>
                            </script>

                    </div>
                </div>
            </div>


            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle" for="driver.id">{{CONSTANT.ID | capitalize}}: </label>
                </div>
                <div class="uk-width-7-10">
                    <input id="driver.id" class="uk-width-1-1" ng-model="state.data.driver.id" type="text" disabled>
                </div>
            </div>

            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle" for="driver.name">{{CONSTANT.NAME | capitalize}}: </label>
                </div>
                <div class="uk-width-7-10">
                    <input id="driver.name" class="uk-width-1-1" ng-model="state.data.driver.name" type="text" disabled>
                </div>
            </div>

            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle" for="driver.car">{{CONSTANT.CAR | capitalize}}: </label>
                </div>
                <div class="uk-width-7-10">
                    <input id="driver.car" class="uk-width-1-1" ng-model="state.data.driver.car" type="text" disabled>
                </div>
            </div>

            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-vertical-align-middle" for="driver.company">{{CONSTANT.COMPANY | capitalize}}: </label>
                </div>
                <div class="uk-width-7-10">
                    <input id="driver.company" class="uk-width-1-1" ng-model="state.data.driver.company" type="text" disabled>
                </div>
            </div>

            <!--Date-->
            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom">
                <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                    <label class="uk-form-label uk-text-bold uk-vertical-align-middle" for="transport.date">Date: </label>
                </div>
                <div class="uk-width-7-10">
                    <div class="uk-width-1-1 uk-form-icon">
                        <i class="uk-width-1-1 uk-icon-calendar"></i>
                        <input id="transport.date"
                               class="uk-width-1-1"
                               ng-model="state.data.date"
                               type="text"
                               placeholder="DD/MM/YYYY"
                               data-uk-datepicker="{format:'DD/MM/YYYY'}">
                    </div>
                </div>
            </div>


            <!--Locations add/remove-->
            <div class="uk-width-1-1 uk-grid uk-margin-small-bottom">
                <div class="uk-width-3-10 uk-text-right uk-text-middle uk-vertical-align">
                    <label class="uk-form-label uk-text-bold uk-vertical-align-middle">{{CONSTANT.LOCATIONS | capitalize}}: </label>
                </div>
                <div class="uk-width-7-10">
                    <button class="uk-button">{{ CONSTANT.ADD | capitalize }}</button>
                    <button class="uk-button">{{ CONSTANT.REMOVE | capitalize }}</button>
                </div>
            </div>


            <!--Locations $index-->
            <div class="uk-width-1-1 uk-grid" ng-repeat="location in state.data.locations">
                <div class="uk-width-1-1 uk-grid uk-margin-small-bottom">
                    <div class="uk-width-3-10 uk-text-right uk-text-middle uk-vertical-align">
                        <label class="uk-form-label uk-text-bold uk-vertical-align-middle" for="transport-location-{{$index}}-name">{{$index + 1}}. {{CONSTANT.LOCATION | capitalize}}: </label>
                    </div>
                    <div class="uk-width-7-10" data-uk-dropdown="{justify:'#transport-location-{{$index}}'}">
                        <div id="transport-location-{{$index}}" class="uk-autocomplete uk-width-1-1" data-uk-autocomplet>
                            <input id="transport-location-{{$index}}-name"
                                   class="uk-width-1-1"
                                   ng-model="transport.locations[$index].id"
                                   type="text"
                                   placeholder="Search for location by name, delivery point or gps."
                                   autocomplete="off">

                            <script type="text/autocomplete">
                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                {{~items}}
                                <li data-value="{{ $item.id }}" >
                                     <a>
                                        {{ $item.name }}
                                        <div>Idi: {{ $item.id }}, Delivery Point: {{ $item.deliveryPoint }}, GPS: {{ $item.gps }}</div>
                                    </a>
                                </li>
                                {{/items}}
                            </ul>
                        </script>

                        </div>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                    <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                        <label class="uk-form-label uk-vertical-align-middle" for="location-{{$index}}-id">{{CONSTANT.ID | capitalize}}: </label>
                    </div>
                    <div class="uk-width-7-10">
                        <input id="location-{{$index}}-id" class="uk-width-1-1" ng-model="state.data.locations[$index].id" type="text" disabled>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                    <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                        <label class="uk-form-label uk-vertical-align-middle" for="location-{{$index}}-name">{{CONSTANT.NAME | capitalize}}: </label>
                    </div>
                    <div class="uk-width-7-10">
                        <input id="location-{{$index}}-name" class="uk-width-1-1" ng-model="state.data.locations[$index].name" type="text" disabled>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                    <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                        <label class="uk-form-label uk-vertical-align-middle" for="location-{{$index}}-delivery-point">{{CONSTANT.DELIVERY_POINT | capitalize}}: </label>
                    </div>
                    <div class="uk-width-7-10">
                        <input id="location-{{$index}}-delivery-point" class="uk-width-1-1" ng-model="state.data.locations[$index].deliveryPoint" type="text" disabled>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-grid uk-margin-small-bottom uk-margin-top-remove">
                    <div class="uk-width-3-10 uk-text-right uk-vertical-align">
                        <label class="uk-form-label uk-vertical-align-middle" for="location-{{$index}}-gps">{{CONSTANT.GPS | capitalize}}: </label>
                    </div>
                    <div class="uk-width-7-10">
                        <input id="location-{{$index}}-gps" class="uk-width-1-1" ng-model="state.data.locations[$index].gps" type="text" disabled>
                    </div>
                </div>

            </div>

        </div>


        <div class="uk-modal-footer">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="submit" class="uk-button uk-button-primary" ng-if="state.type === CONSTANT.ADD"
                            ng-click="save()">{{CONSTANT.SAVE | capitalize}}
                    </button>
                    <button type="submit" class="uk-button uk-button-primary" ng-if="state.type === CONSTANT.EDIT"
                            ng-click="update()">{{CONSTANT.UPDATE | capitalize}}
                    </button>
                    <button ng-click="close()" class="uk-button">{{CONSTANT.CLOSE | capitalize}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
