<div class="row">
    <div>
        <div class="col-xs-12">
            <div>
                <div ng-show="isNewLocation"><h1>{{TEXT.CREATE}} {{TEXT.LOCATION}}</h1></div>
                <div ng-show="!isNewLocation"><h1>{{TEXT.EDIT}} {{TEXT.LOCATION}}</h1></div>
                <hr>
            </div>
        </div>
    </div>

    <div ng-show="location !== undefine">
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="id">{{TEXT.ID}}: </label>
                    <input class="form-control" id="id" ng-model="location.id" type="text" ng-readonly="true">
                </div>

                <div class="form-group">
                    <label for="name">{{TEXT.NAME}}: </label>
                    <input class="form-control" id="name" ng-model="location.name" type="text"
                           placeholder="{{TEXT.LOCATION_NAME_PLACEHOLDER}}">
                </div>

                <div class="form-group">
                    <label for="deliveryPoint">{{TEXT.DELIVERY_POINT}}: </label>
                    <input class="form-control" id="deliveryPoint" ng-model="location.deliveryPoint" type="text"
                           placeholder="{{TEXT.LOCATION_DELIVERY_POINT_PLACEHOLDER}}">
                </div>

                <div class="form-group">
                    <label for="gps">{{TEXT.GPS}}: </label>
                    <input class="form-control" id="gps" ng-model="location.gps" type="text"
                           placeholder="{{TEXT.LOCATION_GPS_PLACEHOLDER}}" ng-required="true" ng-readonly="true">
                </div>

                <hr>

                <button type="submit" class="btn btn-danger" ng-if="!isNewLocation" ng-click="delete()">
                    {{TEXT.DELETE}}
                </button>
                <button type="submit" class="btn btn-primary" ng-if="isNewLocation" ng-click="save()">
                    {{TEXT.SAVE}}
                </button>
                <button type="submit" class="btn btn-primary" ng-if="isNewLocation" ng-click="saveAndClose()">
                    {{TEXT.SAVE_AND_CLOSE}}
                </button>
                <button type="submit" class="btn btn-primary" ng-if="!isNewLocation" ng-click="update()">
                    {{TEXT.UPDATE}}
                </button>
                <button ng-click="close()" class="btn btn-default">
                    {{TEXT.CLOSE}}
                </button>
            </form>
        </div>

        <div class="col-xs-8">
            <form onsubmit="return false;">
                <div class="form-group">
                    <input id="rt-location-map-autocomplete"
                           class="form-control"
                           type="text"
                           placeholder="{{TEXT.SEARCH}}">
                </div>
            </form>

            <div id="rt-location-map"></div>
        </div>

    </div>
</div>
